<button id="getAll" class="btn btn-success">查詢所有員工</button>
<button id="getById" class="btn btn-success">查詢指定員工</button>
<button id="insert" class="btn btn-success">新增員工</button>
<button id="update" class="btn btn-success">修改員工</button>
<button id="delete" class="btn btn-success">刪除員工</button>


<label>請輸入員工編號 : <input type="text" id="employeeId" /></label>


@section Scripts
    {
    <script>
        $("#getAll").on("click", function () {
            //alert("getAll");
            $.ajax({
                type: "GET",
                url: "https://localhost:7185/api/Employees",
            }).done(function (result) {
                alert(JSON.stringify(result));
                //$.each(result, function (index, item) {
                //    alert(`${index} : ${item.firstName}`);
                //})
            }).fail(function (err) {
                alert(err.statusText);
            });
        })

        
        $("#getById").on("click", function () {
            //alert("getById");
            $.ajax({
                type: "GET",
                url: `https://localhost:7185/api/Employees/${$("#employeeId").val()}`,
            }).done(function (result) {
                //alert(JSON.stringify(result));
                alert(result["firstName"]);
            }).fail(function (err) {
                alert(err.statusText);
            });
        })

        $("#insert").on("click", function () {
            //alert("getAll");
            var emp = {
                "EmployeedId": 0,
                "FirstName": "小明",
                "LastName": "李",
                "Title":"WorkStudent"
                            };
            $.ajax({
                type: "POST",
                url: "https://localhost:7185/api/Employees",
                data:JSON.stringify(emp),
                contentType:"application/json"
            }).done(function (result) {
                alert(JSON.stringify(result));
            }).fail(function (err) {
                alert(err.statusText);
            });
        })

        $("#update").on("click", function () {
            //alert("update");
            var emp = {
                "EmployeeId": 13,
                "FirstName": "小明",
                "LastName": "李",
                "Title": "Manager"
            };
            $.ajax({
                type: "PUT",
                url: "https://localhost:7185/api/Employees/13",
                data: JSON.stringify(emp),
                contentType: "application/json"
            }).done(function (result) {
                alert(JSON.stringify(result));
            }).fail(function (err) {
                alert(err.statusText);
            });
        })

        $("#delete").on("click", function () {
            //alert("delete");
            $.ajax({
                type: "DELETE",
                url: "https://localhost:7185/api/Employees/12",
                contentType: "application/json"
            }).done(function (result) {
                alert(result);
            }).fail(function (err) {
                alert(err.statusText);
            });
        })


    </script>
}