<button id="getAll" class="btn btn-success">查詢所有員工</button>
<button id="getById" class="btn btn-success">查詢指定員工</button>
<button id="insert" class="btn btn-success">新增員工</button>
<button id="update" class="btn btn-success">修改員工</button>
<button id="delete" class="btn btn-success">刪除員工</button>


<label>請輸入員工編號 : <input type="text" id="employeeId" /></label>

