@section Styles
    {
    <style>

    </style>
}

<div id="appVue" class="container">
    <div class="row">
        <label class="col-lg-3">請輸入篩選關鍵字</label>
        <input class="col-lg-7 form-control" id="FirstName" v-model="Filter" />
        <button type="button" class="col-lg-2 btn btn-primary" @@click="filterEmployeeDTOes">篩選</button>
    </div>
    <div class="container">
        <button type="button" class="btn btn-success" @@click="showModal">新增員工記錄</button>
        <div class="row">
            <div class="col-12 mt-4">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>員工編號</td>
                            <td>名</td>
                            <td>姓</td>
                            <td>職銜</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in EmployeeDTOes">
                            <template v-if="item.Edit==true">
                                <td>{{item.employeeId}}</td>
                                <td><input v-model="item.firstName" /></td>
                                <td><input v-model="item.lastName" /></td>
                                <td><input v-model="item.title" /></td>
                                <td>
                                    <button type="button" class="btn btn-primary" @@click="update(item)">修改</button>
                                    <button type="button" class="btn btn-warning" @@click="cancel(item)">取消</button>
                                </td>
                            </template>

                            <template v-else>
                                <td>{{item.employeeId}}</td>
                                <td>{{item.firstName}}</td>
                                <td>{{item.lastName}}</td>
                                <td>{{item.title}}</td>
                                <td>
                                    <button type="button" class="btn btn-success" @@click="edit(item.employeeId)">編輯</button>
                                    <button type="button" class="btn btn-danger" @@click="deleteEmployee(item.employeeId)">刪除</button>
                                </td>
                            </template>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">新增商品記錄</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="form-group">
                            <label>FirstName:</label>
                            <input type="text" class="form-control" v-model="firstName" id="FirstName" />
                        </div>
                        <div class="form-group">
                            <label>ListName:</label>
                            <input type="text" class="form-control" v-model="lastName" id="ListtName" />
                        </div>
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" class="form-control" v-model="title" id="Title" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" @@click="insert">新增員工</button>
                        </div>
                    </div>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>

    <script>
        var webApiBaseAddress = "https://localhost:7185";
        var appVue = new Vue({
            el: "#appVue",
            name: "appVue",
            data: {
                EmployeeDTOes: [],
                Filter: "",
                employeeId: null,
                firstName: null,
                lastName: null,
                title: null,
            },
            mounted: function () {
                let _this = this;
                _this.getEmployeeDTOes();
            },
            methods: {
                getEmployeeDTOes: function () {
                    let _this = this;
                    axios.get(`${webApiBaseAddress}/api/Employees`).then(
                        response => {
                            _this.EmployeeDTOes = response.data;
                            var EmployeeList = [];
                            for (let i = 0; i < _this.EmployeeDTOes.length; i++) {
                                let item = {};
                                item = _this.EmployeeDTOes[i];
                                item.Edit = false;
                                EmployeeList.push(item);
                            }
                            console.log(EmployeeList);
                            _this.EmployeeDTOes = EmployeeList;
                        }
                    );
                },
                filterEmployeeDTOes: function () {
                    let _this = this;
                    var request = {};
                    request.FirstName = _this.Filter;
                    axios.post(`${webApiBaseAddress}/api/Employees/Filter`, request).then(
                        response => {
                            _this.EmployeeDTOes = response.data;
                            var EmployeeList = [];
                            for (let i = 0; i < _this.EmployeeDTOes.length; i++) {
                                let item = {};
                                item = _this.EmployeeDTOes[i];
                                item.Edit = false;
                                EmployeeList.push(item);
                            }
                            _this.EmployeeDTOes = EmployeeList;
                        }
                    );
                },
                filterEmployeeDTOes: function () {
                    let _this = this;
                    var request = {};
                    request.FirstName = _this.Filter;
                    axios.post(`${webApiBaseAddress}/api/Employees/Filter`, request).then(
                        response => {
                            _this.EmployeeDTOes = response.data;
                            var EmployeeList = [];
                            for (var i = 0; i < _this.EmployeeDTOes.length; i++) {
                                var item = {};
                                item = _this.EmployeeDTOes[i];
                                item.Edit = false;
                                EmployeeList.push(item);
                            }
                            _this.EmployeeDTOes = EmployeeList;
                        }
                    );
                },
                update: function (item) {
                    let _this = this;
                    var request = {};
                    request.EmployeeId = item.employeeId;
                    request.FirstName = item.firstName;
                    request.LastName = item.lastName;
                    request.Title = item.title;

                    axios.put(`${webApiBaseAddress}/api/Employees/${item.employeeId}`, request).then(
                        response => {
                            alert(response.data);
                            _this.filterEmployeeDTOes;
                            _this.getEmployeeDTOes();
                            _this.cancel();
                        }
                    );
                },
                deleteEmployee: function (employeeId) {
                    let _this = this;
                    let ret = confirm("確定要刪除嗎?");
                    if (ret == true) {
                        axios.delete(
                            `${webApiBaseAddress}/api/Employees/${employeeId}`
                        ).then(response => {
                            _this.getEmployeeDTOes();
                        })
                    }
                },
                edit: function (employeeId) {
                    let _this = this;
                    var EmployeeList = [];
                    for (let i = 0; i < _this.EmployeeDTOes.length; i++) {
                        item = _this.EmployeeDTOes[i];
                        if (employeeId == _this.EmployeeDTOes[i].employeeId) {
                            item.Edit = true;
                        } else {
                            item.Edit = false;
                        }
                        EmployeeList.push(item);
                    }
                    _this.EmployeeDTOes = EmployeeList;
                },
                cancel: function () {
                    _this = this;
                    var EmployeeList = [];
                    for (let i = 0; i < _this.EmployeeDTOes.length; i++) {
                        var item = {};
                        item = _this.EmployeeDTOes[i];
                        item.Edit = false;
                        EmployeeList.push(item);
                    }
                    _this.EmployeeDTOes = EmployeeList;

                },
                showModal: function () {
                    $("#insertModal").modal("show");
                },
                insert: function () {
                    let _this = this;
                    var request = {};
                    request.EmployeeId = 0;
                    request.FirstName = _this.firstName;
                    request.LastName = _this.lastName;
                    request.Title = _this.title;
                    axios.post(`${webApiBaseAddress}/api/Employees`, request).then(
                        response => {
                            window.location = "/Home/VUECRUD"
                        }
                    )
                },

            },

        });

    </script>
 }